* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 877px) {
  body > #container {
    width: 95%;
    margin: auto;
  }
  #container > #title {
    font-size: 2em;
    margin: 0;
    padding-left: 2%;
  }
  #container > #header {
    width: 100%;
    height: 15vh;
  }
  #container > #gameboard {
    padding: 5% 2%;
    max-width: 90%;
  }
  #container > .grid {
    height: 90px;
  }
  #container > #menu {
    margin-top: 2em;
    place-content: center;
  }
  #menu > .menuBtn {
    color: #373b30;
  }
  #menu > #resetBtn {
    margin-right: 1em;
  }
  #names > div {
    font-size: clamp(16px, 2.9em, 46px);
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  margin: auto;
  width: clamp(435px, 60vw, 768px);
  height: auto;
}

/* TITLE AND MENU BUTTONS */

#title {
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-end;
  padding-left: 5%;
  width: 100%;
  height: auto;
  max-height: min-content;
  font-family: "Lobster", cursive;
  font-size: 1.5em;
  white-space: nowrap;
}
#title h1 {
  display: inline-flex;
  width: 60%;
  margin-bottom: 0;
  text-shadow: 2px 3px #e28f83;
}
#menu {
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
  align-items: end;
  width: 100%;
  height: 15%;
}

.menuBtn {
  margin: 0 1em;
  width: fit-content;
  height: auto;
  font-family: "Knewave", cursive;
  background-color: transparent;
  color: #4a503d;

  border: none;
  transition: transform 200ms;
}
.menuBtn:hover {
  transform: scale(1.5, 1.5);
  color: #000;
}
#resetBtn {
  margin-right: 3em;
}

/* ALL HEADER CONTAININGS */

#header {
  width: 100%;
  height: 20vh;
  background-color: #faf2da;
  border-radius: 40px;
  box-shadow: 1px 2px 5px #4a503d;
}

#startDiv {
  width: 100%;

  height: 100%;
  border-radius: 40px;
}
span {
  z-index: 3;
}
#startBtn {
  padding: 15px;
  width: auto;
  height: 70%;
  max-height: fit-content;
  font-family: "Knewave", cursive;
  font-size: 5em;
  color: black;
  background-color: #faf2da;
  border: 2px solid #010100;
  position: relative;
}
#startBtn::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #faf2da;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}
#startBtn:hover::before {
  transform: scaleY(0);
}
#startBtn::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
  background-color: #faf2da;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
#startBtn:hover::after {
  transform: scaleX(0);
}

#formDiv {
  width: fit-content;
  height: 100%;
}

form {
  width: 80%;
}

input {
  width: 100%;
  height: clamp(32px, 2em, 80px);
  line-height: 3em;
  font-family: "lobster", cursive;
  font-size: 2em;
  text-align: center;
  background-color: transparent;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

#inGameDiv {
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
#names {
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
  height: 50%;
  min-height: fit-content;
  min-width: fit-content;
}

#player,
#score,
#com {
  width: 100%;
  height: 100%;
  font-family: "lobster", cursive;
  font-size: 2.916em;
  color: #4a503d;
}
#score {
  width: 20%;
  height: 100%;
  font-size: 4.5em;
}

/* HEADER END */

#gameStatus {
  width: 100%;
  height: 1.6em;
  font-family: "Knewave", cursive;
  font-size: clamp(8px, 1em, 24px);
}

#gameboard {
  padding: 5% 9%;
  width: 100%;
  height: auto;
  max-height: 100%;
}

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

/* GRID: */
.grid {
  width: 100%;
  height: 100px;
  max-height: max(5em, 200px);
  font-family: "Knewave", cursive;
  font-size: 6em;
  border: 1px solid black;
}
.grid:hover {
  cursor: pointer;
}
.clicked:hover {
  cursor: default;
}
#board div:nth-child(-n + 3) {
  border-top: none;
}

#board div:nth-child(3n) {
  border-right: none;
}

#board div:nth-child(3n - 2) {
  border-left: none;
}

#board div:nth-child(n + 7) {
  border-bottom: none;
}

.hide {
  display: none !important;
}

.playerwin {
  color: #8e9775;
  translate: color 0.4s ease-in-out;
}

.computerwin {
  color: #e28f83;
  /* translate: color 4s ease-in-out; */
}

/* buttons: */
